.footer {
  width: 100%;
  padding: 16px 12px;
  background: #fafafa;
  border-top: 1px solid #eaeaea;
  text-align: center;
  margin-top: 40px;
  position: fixed;
  bottom: 0;
}

.footer p {
  font-size: 14px;
  color: #666;
  margin: 0;
}